.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-move-stagger {
  /* 200ms will be applied between each sucessive enter operation */
  -webkit-transition-delay:0.025s;
  transition-delay:0.025s;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition:0.32s linear all;
  transition:0.32s linear all;
}

.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
  -webkit-transition:0.432 linear all;
  transition:0.32s linear all;

  opacity:0;
  line-height:0;
}

.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
  line-height:20px;
}

/* Dialog Animations */
@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

//loading indicator
svg {
  display: block;
  width: 200px;
  margin: 40px auto 0;
}

@keyframes stack {
  0% {
    transform: translateY(0px);
    opacity: .75;
  }
  25% {
    transform: translateY(20px);
    opacity: .9;
  }
  100% {
    opacity: .75;
  }
}

@-webkit-keyframes stack {
  0% {
    transform: translateY(0px);
    opacity: .75;
  }
  25% {
    transform: translateY(20px);
    opacity: .9;
  }
  100% {
    opacity: .75;
  }
}

.red {
  animation: stack 2s linear infinite;
  -webkit-animation: stack 2s linear infinite;
}
.blue {
  animation: stack 2s linear 500ms infinite;
  -webkit-animation: stack 2s linear 500ms infinite;
}
.orange {
  animation: stack 2s linear 1000ms infinite;
  -webkit-animation: stack 2s linear 1000ms infinite;
}
.green {
  animation: stack 2s linear 1500ms infinite;
  -webkit-animation: stack 2s linear 1500ms infinite;
}