@import '_icons';


/* About Dropdown */
div.about {
  display: none;
  z-index: 300;
  position: absolute;
  top: 59px;
  left: 190px;
  width: 722px;
  background-color: #fff;
  opacity: 1;
  padding: 20px;
  border: 1px solid #999999;
  border-top: none;
  font-size: .8em;
  line-height: 1.25em;
  color: #666666;

  header {
    margin-bottom: 15px;
    a {
      height: 45px;
    }
  }

  a {
    font-weight: normal;
    color: #9c9c9c;
    text-decoration: none;
    &:hover {
      color: #666;
      text-decoration: underline;
    }
    &.github {
      margin-right: 8px;
      border-right: 1px solid #9c9c9c;
      padding-right: 10px;
    }
  }

  > p {
    margin-bottom: 15px;
    &.info {
      font-weight: bold;
      margin-bottom: 40px;
    }
  }

  ul {
    width: 100%;
    overflow: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    padding: 20px 0;
    li {
      width: 32%;
      float: left;
      margin-top: 20px;
      margin-right: 2%;
      &:last-child {
        margin-right: 0;
      }
      > a {
        background: #f1f1f1;
        padding: 10px;
        text-decoration: none;
        display: block;
        font-size: .9em;

        span {
          color: #2d2d2d;
          text-decoration: underline;
        }

        &:hover {
          text-decoration: none;
          background: #e1e1e1;
          span {
            text-decoration: none;
          }
        }

        h4 {
          color: #666;
          margin: 15px 0;
        }

        [class*='-logo'] {
          padding: 0 0 60px 0;
        }

        .pmx-logo {
          background: url('../images/panamax_id_02.svg') -135px -310px no-repeat;
          background-size: 245%;
        }

        .lorry-logo {
          background: url('../images/logo_lorry.svg') -5px 0 no-repeat;
        }

        .dray-logo {
          background: url('../images/logo_dray_long.svg') -275px -415px no-repeat;
          background-size: 350%;
        }
      }
    }
  }

  footer {
    display: block;
    position: relative;
    height: auto;
    background: none;
    font-weight: bold;
    font-size: 1.0em;
    padding-bottom: 0;

    a {
      color: #666;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: #333;
        text-decoration: underline;
      }
    }
  }
}

/* Header and Nav*/
main {
  > header {
    width: 100%;
    min-width: 1000px;
    background: #d8d8d8;
    height: 59px;
    top: 0;

    h1.imagelayers-logo {
      float: left;
      height: 100%;
      a {
        margin-top: 5px;
        height: 50px;
      }
    }

    nav.ctl {
      width: 58px;
      float: left;
      position: relative;
      height: 100%;
      height: 100%;
      padding-top: 21px;
      margin-left: 10px;
      a {
        color: #888;
        font-size: .8em;
        text-decoration: none;
        margin-top: 21px;
        &:after {
          @extend .icon-thin-arrow-down;
          @include icon-light-grey;
          content: '';
          display: block;
          position: absolute;
          top: 26px;
          right: 5px;
          width: 16px;
          height: 16px;
        }
      }
    }

    .ctl-cloud {
      background-color: #0040D0;
      cite {
        float: right;
        &.ctl-logo {
          display: block;
          a {
            height: 50px;
          }
        }

        &.cloud {
          width: 150px;
          padding-left: 20px;
          border-left: 1px solid #a0a0a0;
          margin: 13px 10px 0 20px;
          a {
            text-decoration: none;
            font-style: normal;
            color: #a0a0a0;
            font-size: 14px;
            span {
              position: relative;
              top: -2px;
              display: inline-block;
              color: #777;
            }
          }
        }
      }
    }
  }
}
