@import '_icons';

* {
  box-sizing: border-box;
}

table, thead, tbody, tfoot, tr, td {
  box-sizing: content-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 800px;
  background: #d8d8d8;
}

/* Header and Nav*/
header {
  width: 100%;
  overflow: hidden;
  background: #d8d8d8;
  height: 60px;
  top: 0;

  .logo {
    width: 190px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
  }

  h1.logo {
    float: left;
    &:hover {
      border: none;
      padding: 0;
      margin: 0;
    }

    a {
      background: url('../images/logo_image_layers.svg') no-repeat center center;
      background-size: 100%;
    }
  }

  .logo a {
    overflow: hidden;
    white-space: nowrap;
    text-indent: -9999px;
    color: transparent;
    background: url('../images/logo_image_layers.svg') no-repeat center center;
    background-size: 100%;
    width: 100%;
    display: block;
    height: 54px;
    margin: 0 auto;
  }

  cite.logo {
    float: right;
    a {
      background: url("../images/ctl_logo_base_grey.svg") 0 15px no-repeat;
      background-size: 140px 30px;
    }
  }

  nav {
    background: #555;
    width: 100%;
    display: block;
    padding-left: 190px;
    margin-bottom: 0;

    ul li {
      text-transform: uppercase;
      font-weight: 400;
      float: left;

      a {
        color: #FFF;
        text-decoration: none;
        padding: 20px 15px;
        font-size: 12px;
        letter-spacing: 2px;
        display: block;
        width: 100%;
        text-align: center;

        &:hover {
          color: #FFF;
          background-color: rgb(132, 188, 57);
          transition: background-color 0.25s ease;
        }
      }
    }
  }
}

#social-icons {
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  padding: 20px 10px 20px 0px;

  a {
    display: inline-block;
    width: 20px;
    height: 20px;

    &.github {
      background-image: url("../images/logo_github_white.svg");
      margin-right: 2px;
    }

    &.twitter {
      background-image: url("../images/logo_twitter_white.svg");
    }
  }
}

.plus-button {
  margin-top: 21px;
  float: left;
  position: relative;
  text-decoration: underline;
  padding-left: 30px;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #91B748;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }

  &:after {
    content: '';
    background: url(../images/plus-white.svg) 50% 50% no-repeat;
    background-size: 10px 10px;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

section input[type="text"] {
  width: 30%;
  float: right;
  margin-top: 10px;
  margin-right: 40px;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
}

/* Metrics */
section.metrics {
  width: 100%;
  background: #2d2d2d;
  padding: 10px 20px;

  li {
    display: inline-block;
    width: 239px;
    height: 51px;
    border-right: 1px solid #4b4b4b;

    &:last-child {
      border-right: none;
    }
  }

  dl {
    margin: 0;
    padding: 5px 20px;
  }

  dt {
    color: #5f5f5f;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
  }

  dd {
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 20px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.075em;

    span {
      color: #6c6c6c;
    }
  }
}

/* Search */
section.search {
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.4);

  h3 {
    float: left;
    margin-top: 18px;
    margin-left: 40px;
  }

  .plus-button {
    margin-left: 15px;
  }
}

/* Graph */

main {
  margin: 0;
  height: auto;
  min-height: 90%;
  padding-bottom: 140px;
  overflow: auto;

  h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 30px;
  }

  small {
    display: block;
  }

  div.leaves {
    width: 100%;
    height: 70px;
    margin-top: 28px;
    border-bottom: 1px solid #b3b3b3;

    section {
      width: 180px;
      margin-left: 20px;
      height: 100%;
      padding: 16px;
      font-size: 0.85em;
      text-align: center;
      background: #c5c5c5;
      color: #2d2d2d;
      display: inline-block;

      &:hover {
        cursor: pointer;
        background: #fff;
      }
    }

    .size {
      font-size: 1.3em;
      font-weight: bold;
    }
  }

  section.graph {
    .noop {
      width: 0;
      height: 0;
      display: none;
    }

    .box {
      padding: 10px;
      float: left;
      background: #fff;
      color: #222;
      margin: 20px 0 0 20px;
      position: relative;
      height: 60px;

      &.small {
        height: 60px;
      }

      &.medium {
        height: 80px;
      }

      &.large {
        height: 100px;
      }

      &.env {
        background: #a0a0a0;
        color: #fff;
      }

      &.cmd {
        background: #17628A;
        color: #fff;
      }

      &.add {
        background: #5E913F;
        color: #fff;
      }

      &.curl {
        background: #E8581E;
        color: #fff;
      }

      &.empty {
        background: transparent;
        width: 180px;
      }

      & > span {
        display: block;
        max-width: 120px;
        margin: 0 auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;

        &.size {
          font-weight: bold;
          font-size: 1.3em;
          margin-top: 6px;
        }
      }
    }
  }

  .layer {
    text-align: center;
    vertical-align: middle;
    font-family: Consolas, Monaco, "Courier New", Courier, monospace;
    background-color: #cccccc;
    font-size: .75em;
  }

  /* Journal */
  section.journal {
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    overflow: auto;
    background: #2d2d2d;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    font-size: 0.8em;
    color: #a0a0a0;

    li {
      margin: 5px 0;
      &:first-child {
        color: #fff;
      }
    }
  }
}

/* Footer */
footer {
  padding: 0 20px;
  background: white;
  height: 30px;
  position: absolute;
  bottom: 0;

  small {
    font-size: 12px;
    position: relative;
    top: -30px;
  }

  .logo {
    height: 30px;
    width: 170px;
    display: inline-block;
    background: url("../images/ctl_logo_base.svg") 0 20px no-repeat white;
    background-size: 140px 30px;
  }
}
