@import '_icons';

* {
  box-sizing: border-box;
}

table, thead, tbody, tfoot, tr, td {
  box-sizing: content-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d8d8d8;
  overflow-x: hidden;
}

.clear { clear: both; }

#error {
  background: rgb(217,0,0);
  margin: 10px 2%;
  color: #fff;
  padding: 10px;
  width: 95%;
  position: relative;
  
  div.dismiss {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 12px;
    
    &:hover {
     cursor: pointer; 
    }
    
    &:after {
      content: ' ';
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 0;
      left: 0;
      @include icon-white;
      @extend .icon-x-medium;
    }
  }
}

/* Header and Nav*/
header {
  width: 100%;
  overflow: hidden;
  background: #d8d8d8;
  height: 60px;
  top: 0;

  .logo {
    width: 190px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;

    a {
      overflow: hidden;
      white-space: nowrap;
      text-indent: -9999px;
      color: transparent;
      background-size: 100%;
      width: 100%;
      display: block;
      height: 54px;
      margin: 0 auto;
    }
  }

  h1.logo {
    float: left;
    &:hover {
      border: none;
      padding: 0;
      margin: 0;
    }

    a {
      background: url('../images/logo_image_layers.svg') no-repeat 10px center;
    }
  }

  cite.logo {
    float: right;
    a {
      background: url("../images/ctl_logo_base_grey.svg") 0 15px no-repeat;
      background-size: 140px 30px;
    }
  }

  nav {
    width: 100%;
    display: block;
    padding-left: 190px;
    margin-bottom: 0;
    padding-top: 20px;

    ul li {
      color: #9c9c9c;
      font-size: 0.8em;
      font-weight: normal;
      float: left;
      position: relative;
      padding-right: 20px;
      
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 3px;
        right: -5px;
        width: 16px;
        height: 16px;
        @extend .icon-thin-arrow-down;
        @include icon-light-grey;
      }
      
      &:hover {
        color: #666;
        cursor: pointer;
        
        &:after {
         @include icon-grey; 
        }
      }
    }
  }
}

.icon-button {
  margin-top: 21px;
  float: left;
  position: relative;
  text-decoration: underline;
  padding-left: 30px;
  margin-left: 20px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:before, &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    left: 5px;
    top: 0;
  }

  &:before {
    border-radius: 10px;
  }

  &:after {
    background-size: 10px 10px;
  }

  &.plus {
    &:before {
      background: #91B748;
    }
    &:after {
     background: url(../images/plus-white.svg) 50% 50% no-repeat;
    }
  }

  &.copy {
    cursor: pointer;
    &:before {
      background: #CCCCCC;
    }
    &:after {
      top: 4px;
      left: 8px;
      height: 13px;
      width: 13px;
      background-size: 13px 1300px;
      background-position: 0 -130px;
      @extend .icon-checkmark;
      @include icon-white;
    }
  }
  &.copied:before {
    background: #91B748;
  }
}

section input[type="text"] {
  width: 30%;
  float: right;
  margin-top: 10px;
  margin-right: 40px;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
}

/* Metrics */
section.metrics {
  width: 100%;
  min-width: 1032px;
  background: #2d2d2d;
  padding: 10px 20px;
  position: relative;
  z-index: 99;

  li {
    display: inline-block;
    width: 239px;
    height: 51px;
    border-right: 1px solid #4b4b4b;

    &:last-child {
      border-right: none;
    }
  }

  dl {
    margin: 0;
    padding: 5px 20px;
  }

  dt {
    color: #5f5f5f;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
  }

  dd {
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 20px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.075em;

    span {
      color: #6c6c6c;
    }
  }
}

/* Search */
section.search {
  width: 100%;
  height: 60px;
  min-width: 1032px;
  background: #fff;
  position: relative;
  z-index: 99;

  h3 {
    float: left;
    margin-top: 18px;
    margin-left: 40px;
  }

  .plus-button {
    margin-left: 15px;
  }

  input[reset-field] {
    padding-right: 19px;

    &::-ms-clear {
      display: none;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    ~ .reset-icon {
      display: block;
      position: absolute;
      right: 45px;
      top: 25px;
      cursor: default;
      width: 15px;
      height: 15px;
      @include icon-grey;
      @extend .icon-x;
      cursor: pointer;

      &:hover {
        @include icon-red;
      }

      &.hidden {
        display: none;
      }
    }
  }
}

/* Graph */

main {
  margin: 0;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 122px;
  right: 0;
  padding-bottom: 5px;
  overflow: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 30px;
  }

  small {
    display: block;
  }

  nav {
    z-index: 10;
    &:not(.sticky) {
      div.leaves {
        position: relative;
        overflow: visible;
        &:before,
        &:after {
          z-index: -9;
          right: -20px;
          width: 100%;
          display: block;
          content: '';
          position: absolute;
        }
        &:before {
          height: 71px;
          top: -159px;
          background-color: #2d2d2d;
        }
        //search
        &:after {
          height: 60px;
          top: -88px;
          background-color: #ffffff;
        }
      }
    }

    &.sticky {
      position: fixed;
      background: #d8d8d8;
      overflow: hidden;
      width: calc(100% - 15px);
      top: 0;
      left: 0;

      div.leaves {
        position: relative;
        background: #d8d8d8;

        > section {
          position: relative;
        }
      }

      section.search {
        width: 100%;
        border-bottom: 1px solid #999;
        box-shadow: 0 4px 5px -5px rgba(0,0,0,.4);
      }

      ~ .graph {
        padding-top: 158px;
      }
    }
  }

  div.leaves {
    margin-top: 28px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
    border-bottom: 1px solid #b3b3b3;
    position: relative;
    z-index: 9;
    min-width: 100%;

    section {
      width: 180px;
      margin-left: 20px;
      padding: 8px;
      font-size: 0.85em;
      text-align: center;
      background: #c5c5c5;
      color: #2d2d2d;
      display: inline-block;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        background: #fff;
      }
      
      &.locked {
        background: #fff; 
      }

      .name {
        white-space: normal;
        word-wrap: break-word;
        max-height: 2.5em;
        overflow: hidden;
      }

      .size {
        font-size: 1.3em;
        font-weight: bold;
      }

      .count {
        color: #999;
        font-size: 0.9em;
      }
    }
  }

  .matrix {
    margin-left: 20px;
  }

  section.graph {
    position: relative;

    .noop {
      width: 0;
      height: 0;
      display: none;
    }

    .box {
      box-sizing: content-box;
      padding: 10px;
      float: left;
      background: #fff;
      color: #222;
      margin: 10px;
      position: relative;
      font-size: 0.9em;
      
      &.locked {
       border: 10px solid #e3e2a6;
       margin: 0;
      }

      &.cat5 {
        background: #aaa;
        color: #444;
      }

      &.cat4 {
        background: #fff;
        color: #444;
      }

      &.cat3 {
        background: #699C48;
        color: #fff;
      }

      &.cat2 {
        background: #229FE5;
        color: #fff;
      }

      &.cat1 {
        background: #186D95;
        color: #fff;
      }

      &.empty {
        background: transparent;
        width: 160px;
      }

      > span {
        display: block;
        margin: 0 auto;
        text-align: center;

        &.size {
          font-weight: bold;
          margin-top: 2px;
        }
        &.command {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 12px;
        }
      }

      &:not(.empty):before {
        content: '';
        display: block;
        height: 20px;
        width: 100%;
        position: absolute;
        left: -10px;
        top: -20px;
        background-image: url(../images/grid_line.png);
      }
    }

    @for $i from 1 through 50 {
      .box-#{$i} { width: 160px * $i + ($i - 1) *40; }
    }
  }

  .layer {
    text-align: center;
    vertical-align: middle;
    font-family: Consolas, Monaco, "Courier New", Courier, monospace;
    background-color: #cccccc;
    font-size: .75em;
  }
}

body.error{
  &:not(.sticky) {
    div.leaves {
      &:before {
        top: -207px;
      }
      //search
      &:after {
        top: -136px;
      }
    }
  }
}
/* Footer */
footer {
  width: 100%;
  height: 120px;
  position: fixed;
  padding-bottom: 10px;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #2d2d2d;

  .draggable {
    width: 100%;
    height: 12px;
    padding-top: 3px;

    &.dragging {
      .drag-handle {
        background-position: 0 -9px;
      }
    }

    .drag-handle {
      cursor: move;
      width: 30px;
      height: 8px;
      background: url(../images/icon_drag.svg) 0 -2px  no-repeat;
      background-size: 30px 20px;
      margin: 0 auto;

      &:hover {
         background-position: 0 -9px;
      }
    }
  }

  /* Journal */
  section.journal {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: monospace;
    padding: 10px 20px;
    font-size: 0.95em;
    line-height: 1.35em;
    color: #a0a0a0;

    li {
      margin: 5px 0;
      &:last-child {
        color: #fff;
      }
    }
  }
}

