@import 'reset';
@import '_icons';

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d8d8d8;
  overflow-x: hidden;
}

#error {
  background: rgb(217,0,0);
  margin: 10px 2%;
  color: #fff;
  padding: 10px;
  width: 95%;
  position: relative;
  
  div.dismiss {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 12px;
    
    &:hover {
     cursor: pointer; 
    }
    
    &:after {
      @extend .icon-x-medium;
      content: ' ';
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 0;
      left: 0;
      @include icon-white;
    }
  }
}

.icon-button {
  margin-top: 18px;
  float: left;
  position: relative;
  text-decoration: underline;
  padding-left: 30px;
  margin-left: 20px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:before, &:after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    display: block;
    left: 0;
    top: -4px;
  }

  &:before {
    border-radius: 12px;
  }

  &:after {
    background-size: 12px 12px;
  }

  &.plus {
    &:before {
      background: #91B748;
    }
    &:after {
     background: url('../images/plus-white.svg') 45% 45% no-repeat;
    }
  }

  &.copy {
    cursor: pointer;
    &:before {
      background: #AAAAAA;
    }
    &:after {
      @extend .icon-checkmark;
      top: 1px;
      left: 4px;
      height: 15px;
      width: 15px;
      background-size: 15px 1500px;
      background-position: 0 -150px;
      background-image: url('../images/icon_sprite_white.svg') !important;
    }
  }
  &.copied:before {
    background: #91B748;
  }
}

section input[type="text"] {
  width: 30%;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
}

/* Metrics */
section.metrics {
  width: 100%;
  min-width: 1225px;
  background: #2d2d2d;
  padding: 10px 20px;
  position: relative;
  z-index: 99;

  li {
    display: inline-block;
    width: 239px;
    height: 51px;
    border-right: 1px solid #4b4b4b;

    &:last-child {
      border-right: none;
    }
  }

  div.badge {
    padding-top: 3px;
    float: right;
    
    button {
      display: block;
      margin-bottom: 5px;
      border: none;
      outline: none;
      font-size: 12px;
      width: 215px;
      margin-top: 2px;
      padding: 2px;
      text-align: center;
      cursor: pointer;
      background-color: #777;
      color: #ffffff;
      &:hover {
        background-color: #229fe5;
      }
    }
  }
  
  dl {
    margin: 0;
    padding: 5px 20px;
  }

  dt {
    color: #5f5f5f;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
  }

  dd {
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 20px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.075em;

    span {
      color: #6c6c6c;
    }
  }
  
  button.badge {
   float: right; 
  }
}

/* Search */
section.search {
  width: 100%;
  height: 60px;
  min-width: 1032px;
  background: #fff;
  position: relative;
  z-index: 99;

  .manage-images {
    float: left;

    h3 {
      float: left;
      margin-top: 20px;
      margin-left: 40px;
    }

    .plus {
      margin: 22px 0 0 15px;
    }

    input[reset-field] {
      float: none;
      margin: 10px 0 0 25px;
      width: 300px;
      padding-right: 19px;

      &::-ms-clear {
        display: none;
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }

      ~ .reset-icon {
        display: block;
        position: absolute;
        right: 45px;
        top: 25px;
        width: 15px;
        height: 15px;
        @include icon-grey;
        @extend .icon-x;
        cursor: pointer;

        &:hover {
          @include icon-red;
        }

        &.hidden {
          display: none;
        }
      }
    }
  }
  .sharing {
    float: right;
    padding-right: 40px;
    span, div {
      display: inline-block;
    }
    > span {
      position: relative;
      top: -8px;
      margin-right: 8px;
    }
    .addthis-icons {
      padding-right: 15px;
      border-right: 1px solid #ccc;
      margin-right: 14px;
      margin-top: 14px;
      a[class*=at-svc] {
        float: left;
        position: relative;
        &:after {
          height: 25px;
          width: 25px;
          content: '';
          display: block;
          top: 5px;
          left: 5px;
          position: absolute;
          cursor: pointer;
        }
      }

      $sharing-icons: (facebook, twitter, linkedin, google_plus);
      @each $icon in $sharing-icons {
        a[class*=#{$icon}]:after {
          @extend .icon-#{$icon}-xlarge;
          @include icon-light-grey;
        }
        a[class*=#{$icon}]:hover:after {
          @include icon-grey;
        }
      }

      .at-circular {
        background-color: transparent;
      }

      span[class*=aticon] {
        display: none;
      }
    }

    .icon-button.copy {
      float: none;
      margin-left: 0;
      margin-top: 10px;
      position: relative;
      top: -8px;
    }
  }
}

//general button style
.button {
  color: white;
  font-size: 14px;
  padding: 15px;
  width: 310px;
  background-color: #777777;
  display: inline-block;
  margin: 10px 20px;
  cursor: pointer;
  text-align: center;
  &.action {
    background-color: #91B748;
  }
}

body.error{
  &:not(.sticky) {
    div.leaves {
      &:before {
        top: -207px;
      }
      //search
      &:after {
        top: -136px;
      }
    }
  }
}
/* Footer */
footer {
  width: 100%;
  height: 120px;
  position: fixed;
  padding-bottom: 10px;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #2d2d2d;

  .draggable {
    width: 100%;
    height: 12px;
    padding-top: 3px;

    &.dragging {
      .drag-handle {
        background-position: 0 -9px;
      }
    }

    .drag-handle {
      cursor: move;
      width: 30px;
      height: 8px;
      background: url('../images/icon_drag.svg') 0 -2px  no-repeat;
      background-size: 30px 20px;
      margin: 0 auto;

      &:hover {
         background-position: 0 -9px;
      }
    }
  }

  /* Journal */
  section.journal {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: monospace;
    padding: 10px 20px;
    font-size: 0.95em;
    line-height: 1.35em;
    color: #a0a0a0;

    li {
      margin: 5px 0;
      &:last-child {
        color: #fff;
      }
    }
  }
}

.mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: #f1f1f1;
  text-align: center;
  .inner {
    width: 90%;
    min-width: 300px;
    margin: 10% auto 0;

    h1.logo {
      width: 100%;
      height: 100px;
      max-width: 600px;
      text-indent: -9999px;
      margin: 0 auto;
      color: transparent;
      background: url('../images/logo_image_layers.svg') no-repeat 10px center;
    }

    .button-wrap {
      text-align: center;
      .button {
        margin-left: 0%;
        margin-right: 0;
        width: 100%;
        text-decoration: none;
      }
    }
  }
}
