@import '_icons';

* {
  box-sizing: border-box;
}

table, thead, tbody, tfoot, tr, td {
  box-sizing: content-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d8d8d8;
}

/* Header and Nav*/
header {
  width: 100%;
  overflow: hidden;
  background: #d8d8d8;
  height: 60px;
  top: 0;

  .logo {
    width: 190px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;

    a {
      overflow: hidden;
      white-space: nowrap;
      text-indent: -9999px;
      color: transparent;
      background-size: 100%;
      width: 100%;
      display: block;
      height: 54px;
      margin: 0 auto;
    }
  }

  h1.logo {
    float: left;
    &:hover {
      border: none;
      padding: 0;
      margin: 0;
    }

    a {
      background: url('../images/logo_image_layers.svg') no-repeat 10px center;
    }
  }

  cite.logo {
    float: right;
    a {
      background: url("../images/ctl_logo_base_grey.svg") 0 15px no-repeat;
      background-size: 140px 30px;
    }
  }

  nav {
    background: #555;
    width: 100%;
    display: block;
    padding-left: 190px;
    margin-bottom: 0;

    ul li {
      text-transform: uppercase;
      font-weight: 400;
      float: left;

      a {
        color: #FFF;
        text-decoration: none;
        padding: 20px 15px;
        font-size: 12px;
        letter-spacing: 2px;
        display: block;
        width: 100%;
        text-align: center;

        &:hover {
          color: #FFF;
          background-color: rgb(132, 188, 57);
          transition: background-color 0.25s ease;
        }
      }
    }
  }
}

.plus-button {
  margin-top: 21px;
  float: left;
  position: relative;
  text-decoration: underline;
  padding-left: 30px;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #91B748;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }

  &:after {
    content: '';
    background: url(../images/plus-white.svg) 50% 50% no-repeat;
    background-size: 10px 10px;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

section input[type="text"] {
  width: 30%;
  float: right;
  margin-top: 10px;
  margin-right: 40px;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
}

/* Metrics */
section.metrics {
  width: 100%;
  min-width: 1032px;
  background: #2d2d2d;
  padding: 10px 20px;

  li {
    display: inline-block;
    width: 239px;
    height: 51px;
    border-right: 1px solid #4b4b4b;

    &:last-child {
      border-right: none;
    }
  }

  dl {
    margin: 0;
    padding: 5px 20px;
  }

  dt {
    color: #5f5f5f;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
  }

  dd {
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 20px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.075em;

    span {
      color: #6c6c6c;
    }
  }
}

/* Search */
section.search {
  width: 100%;
  height: 60px;
  min-width: 1032px;
  background: #fff;

  h3 {
    float: left;
    margin-top: 18px;
    margin-left: 40px;
  }

  .plus-button {
    margin-left: 15px;
  }
}

/* Graph */

main {
  margin: 0;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 122px;
  right: 0;
  padding-bottom: 5px;
  overflow: auto;

  h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 30px;
  }

  small {
    display: block;
  }

  nav {
    z-index: 10;
    &:not(.sticky) {
      div.leaves {
        position: relative;
        overflow: visible;
        &:before,
        &:after {
          z-index: -1;
          right: -20px;
          width: 100%;
          display: block;
          content: '';
          position: absolute;
        }
        &:before {
          height: 71px;
          top: -159px;
          background-color: #2d2d2d;
        }
        //search
        &:after {
          height: 60px;
          top: -88px;
          background-color: #ffffff;
        }
      }
    }

    &.sticky {
      position: fixed;
      background: #d8d8d8;
      overflow: hidden;
      top: 0;
      left: 0;

      div.leaves {
        position: relative;
        background: #d8d8d8;

        > section {
          position: relative;
        }
      }

      section.search {
        width: 100%;
        border-bottom: 1px solid #999;
        box-shadow: 0 4px 5px -5px rgba(0,0,0,.4);
      }

      ~ .graph {
        padding-top: 158px;
      }
    }
  }

  div.leaves {
    height: 70px;
    margin-top: 28px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #b3b3b3;

    section {
      width: 180px;
      margin-left: 20px;
      height: 100%;
      padding: 8px;
      font-size: 0.85em;
      text-align: center;
      background: #c5c5c5;
      color: #2d2d2d;
      display: inline-block;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        background: #fff;
      }
    }

    .size {
      font-size: 1.3em;
      font-weight: bold;
    }

    .count {
      color: #999;
      font-size: 0.9em;
    }
  }

  .matrix {
    background: url(../images/grid_line.png);
    margin-left: 20px;
    border-left: 1px solid #b2b2b2;
  }

  section.graph {
    position: relative;

    .noop {
      width: 0;
      height: 0;
      display: none;
    }

    .box {
      padding: 10px;
      float: left;
      background: #fff;
      color: #222;
      margin: 20px 10px 0px 10px;
      position: relative;
      font-size: 0.9em;

      &.env {
        background: #a0a0a0;
        color: #fff;
      }

      &.cmd {
        background: #17628A;
        color: #fff;
      }

      &.add {
        background: #5E913F;
        color: #fff;
      }

      &.curl {
        background: #E8581E;
        color: #fff;
      }

      &.empty {
        background: transparent;
        width: 180px;
      }

      & > span {
        display: block;
        margin: 0 auto;
        text-align: center;

        &.size {
          font-weight: bold;
          margin-top: 2px;
        }
        &.command {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  .layer {
    text-align: center;
    vertical-align: middle;
    font-family: Consolas, Monaco, "Courier New", Courier, monospace;
    background-color: #cccccc;
    font-size: .75em;
  }
}

/* Footer */
footer {
  /* Journal */
  section.journal {
    width: 100%;
    height: 120px;
    overflow: auto;
    background: #2d2d2d;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    font-size: 0.8em;
    color: #a0a0a0;

    li {
      margin: 5px 0;
      &:last-child {
        color: #fff;
      }
    }
  }
}
