<ul class="about">
   <li>
     <img class="logo" src="images/logo_image_layers.svg">
     <p class="clear strong">
      ImageLayers.io, is a CenturyLink Cloud hosted utility and CenturyLink Labs open-source project that provides a visualization in the browser of user specified Docker Images and their layers. This visualization provides key information on the composition of a Docker Image and any commonalities between them. ImageLayers.io allows Docker users to easily discover best practices for image construction, and aid in determining which images are most appropriate to use in their specific use cases.
     </p>
     <p>
       <a href="https://github.com/CenturyLinkLabs/imagelayers-graph" target="_blank">ImageLayers UI on GitHub</a>
       <a href="https://github.com/CenturyLinkLabs/imagelayers" target="_blank">ImageLayers API on GitHub</a>
     </p>
     <hr>
     <h3>Other Projects from CenturyLink Labs</h3>
     <a class="project" href="http://panamax.io" target="_blank">
       <article>
         <div class="pmx-logo"></div>
         <h4>Panamax</h4>
         <p>
           Docker Management for Humans<br>
           <mark>panamax.io</mark>
         </p>
       </article>
     </a>
     <a class="project" href="http://lorry.io" target="_blank">
       <article>
         <div class="lorry-logo"></div>
         <h4>Lorry.io</h4>
         <p>
           Compose YML validator.<br>
           <mark>lorry.io</mark>
         </p>
       </article>
     </a>
     <a class="project" href="http://dray.it" target="_blank">
       <article>
         <div class="dray-logo"></div>
         <h4>Dray</h4>
         <p>
            Docker Workflow Engine.<br>
           <mark>dray.it</mark>
         </p>
       </article>
     </a>
     <div class="clear"></div>
     <hr>
     <h4>
        Read tutorials and articles about these tools at <a href="http://www.centurylinklabs.com" target="_blank">centurylinklabs.com</a>
     </h4>
   </li>
</ul>