<main>
    <header>
        <h1 class='logo'>
            <a href="" title="Home">ImageLayers</a>
        </h1>
        <cite class='logo'>
            <a href="" title="CenturyLink">CenturyLink</a>
        </cite>
        <nav class="ctl">
          <ul>
            <li><a href="">About</a>
               <ul>
                 <li>
                   <img class="logo" src="images/logo_image_layers.svg">
                   <p class="clear strong">
                    ImageLayers.io, is a CenturyLink Cloud hosted utility and CenturyLink Labs open-source project that provides a visualization in the browser of user specified Docker Images and their layers. This visualization provides key information on the composition of a Docker Image and any commonalities between them. ImageLayers.io allows Docker users to easily discover best practices for image construction, and aid in determining which images are most appropriate to use in their specific use cases.
                   </p>
                   <p>
                     <a href="https://github.com/CenturyLinkLabs/imagelayers-graph" target="_blank">ImageLayers UI on GitHub</a>
                     <a href="https://github.com/CenturyLinkLabs/imagelayers" target="_blank">ImageLayers API on GitHub</a>
                   </p>
                   <hr>
                   <h3>Other Projects from CenturyLink Labs</h3>
                   <a class="project" href="http://panamax.io" target="_blank">
                     <article>
                       <div class="pmx-logo"></div>
                       <h4>Panamax</h4>
                       <p>
                         Docker Management for Humans<br>
                         <mark>panamax.io</mark>
                       </p>
                     </article>
                   </a>
                   <a class="project" href="http://lorry.io" target="_blank">
                     <article>
                       <div class="lorry-logo"></div>
                       <h4>Lorry.io</h4>
                       <p>
                         Compose YML validator.<br>
                         <mark>lorry.io</mark>
                       </p>
                     </article>
                   </a>
                   <a class="project" href="http://dray.it" target="_blank">
                     <article>
                       <div class="dray-logo"></div>
                       <h4>Dray</h4>
                       <p>
                          Docker Workflow Engine.<br>
                         <mark>dray.it</mark>
                       </p>
                     </article>
                   </a>
                   <div class="clear"></div>
                   <hr>
                   <h4>
                      Read tutorials and articles about these tools at <a href="http://www.centurylinklabs.com" target="_blank">centurylinklabs.com</a>
                   </h4>
                 </li>
               </ul>
            </li>
          </ul>
        </nav>
    </header>
    <section class="metrics" metrics></section>
    <nav sticky offset='134'>
        <section class="search" ng-controller="SearchCtrl as search">
          <h3>Docker Images</h3>
            <div class="icon-button plus" ng-click="showSearch()">Add Images</div>

            <div class="icon-button copy" ng-class="{ copied: copied }"  ui-zeroclip zeroclip-copied="copied=true"
                 zeroclip-text="{{ URL }}">
              <span ng-hide="copied">Copy URL</span>
              <span ng-show="copied">Copied!</span>

            </div>

            <input type='text' ng-model="filters.image" placeholder='Filter images...' reset-field>
        </section>
        <notification></notification>
        <div class="leaves lock-horizon" ng-show="leaves.length > 0" style="width: {{ leaves.length * 210 }}px;">
            <leaf ng-repeat="leaf in leaves" ng-mouseenter="showCommands(leaf)"></leaf>
        </div>
    </nav>
    <section class="graph" grid>
    </section>
</main>
<footer>
    <draggable></draggable>
    <section class="journal" scroll-glue ng-controller="JournalCtrl">
        <ul>
            <li ng-repeat='command in commands track by $index'>{{ command }}</li>
        </ul>
    </section>
</footer>
