<main>
    <header>
        <h1 class='logo'>
            <a href="" title="Home">ImageLayers</a>
        </h1>
        <cite class='logo'>
            <a href="" title="CenturyLink">CenturyLink</a>
        </cite>
        <nav>
          <ul>
            <li>About</li>
          </ul>
        </nav>
    </header>
    <section class="metrics" metrics></section>
    <nav sticky offset='134'>
        <section class="search" ng-controller="SearchCtrl as search">
          <h3>Docker Images</h3>
            <div class="icon-button plus" ng-click="showSearch()">Add Images</div>

            <div class="icon-button copy" ng-class="{ copied: copied }"  ui-zeroclip zeroclip-copied="copied=true"
                 zeroclip-text="{{ URL }}">
              <span ng-hide="copied">Copy URL</span>
              <span ng-show="copied">Copied!</span>

            </div>

            <input type='text' ng-model="filters.image" placeholder='Filter images...' reset-field>
        </section>
        <notification></notification>
        <div class="leaves lock-horizon" ng-show="leaves.length > 0" style="width: {{ leaves.length * 210 }}px;">
            <leaf ng-repeat="leaf in leaves" ng-mouseenter="showCommands(leaf)"></leaf>
        </div>
    </nav>
    <section class="graph" grid>
    </section>
</main>
<footer>
    <draggable></draggable>
    <section class="journal" scroll-glue ng-controller="JournalCtrl">
        <ul>
            <li ng-repeat='command in commands track by $index'>{{ command }}</li>
        </ul>
    </section>
</footer>
