<div class="loading" ng-show="loading">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 160 160" enable-background="new 0 0 160 160" xml:space="preserve">
    <polygon class="layer red" opacity="0.75" fill="#BE1E2D" points="149.3,111.3 79.4,139.1 9.5,111.3 79.4,83.5 "/>
    <polygon class="layer blue" opacity="0.75" fill="#1C75BC" points="149.3,89.9 79.4,117.7 9.5,89.9 79.4,62.2 "/>
    <polygon class="layer orange" opacity="0.75" fill="#F15A29" points="149.3,68.6 79.4,96.4 9.5,68.6 79.4,40.8 "/>
    <polygon class="layer green" opacity="0.75" fill="#39B54A" points="149.3,47.3 79.4,75.1 9.5,47.3 79.4,19.5 "/>
  </svg>
</div>

<div class="info landing" ng-show="empty">
  <h3>Welcome to ImageLayers</h3>
  <p>
    Visualize Docker images and the layers that compose them.<br>
    See how each command in the Dockerfile
    contributes to the final image, and discover which layers are shared by multiple images.
  </p>
  <div class="button action" ng-controller="SearchCtrl" ng-click="showSearch()">Search for images on the Docker Hub</div>
  or
  <div class="button"  ng-controller="SearchCtrl" ng-click="showExampleSearch()">Load a sample image set</div>
</div>

<div class="matrix">
  <div ng-repeat="box in grid" class="repeat-animation"  ng-switch on="box.layer.id">

    <div class="box empty" ng-switch-when="empty"></div>
    <div ng-switch-default style="width: {{ box.width }}px" ng-class="box.type" ng-mouseenter="highlightCommand(box.layer.id)">
      <span ng-bind-html='box.layer.cmd' class="command"></span>
      <span ng-bind-html='box.layer.Size | size' class="size"></span>

    </div>
      <div style="clear:both;" ng-show="($index + 1) % leaves.length == 0"></div>
  </div>
</div>
